@import "../index.scss";

.result-card-container {
  width: 682px;
  height: 444px;
  margin: 24px auto 145px auto;
  padding: 48px;
  border-radius: 15px;

  @include theme() {
    background-color: theme-get("background-light");
    box-shadow: theme-get("box-shadow");
  }
}

.result-card-content-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 37px;
}

.result-card-avatar {
  img {
    width: 117px;
    height: 117px;
    border-radius: 50%;
  }
}

.result-card-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .result-card-date-title {
    @include theme() {
      color: theme-get("secondary");
    }
  }
}

.result-card-text-alignment {
  text-align: left;
}

.result-card-github-info-container {
  width: 448px;
  height: 53px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15px 32px;

  @include theme() {
    background-color: theme-get("background");
  }

  div h4 {
    margin: 0;
  }

  div h2 {
    margin: 0;
  }
}

.result-card-user-info {
  margin-top: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  row-gap: 10px;

  @include theme() {
    color: theme-get("tertiary");
  }

  .icon-text-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  .result-card-user-info-column {
    display: grid;
    grid-row-gap: 19px;
  }
}
