@import "../index.scss";

.search-input {
  @include theme() {
    background-color: theme-get("background-light");
    box-shadow: theme-get("box-shadow");
  }

  margin: auto;

  width: 708px;
  height: 47px;
  padding: 22px;
  border-radius: 15px;

  display: grid;
  align-items: center;
  grid-template-columns: 50px 4fr 1fr;
  column-gap: 8px;

  img {
    width: 24px;
    height: 24px;
  }

  input {
    border: 0;

    @include theme() {
      background-color: theme-get("background-light");
      color: theme-get("font-color");
    }
  }

  input:focus {
    outline-width: 0;
  }

  input::placeholder {
    font: 18px "Space Mono", monospace;
    line-height: 25px;
  }

  button {
    width: 106px;
    height: 50px;
    border: 0;
    border-radius: 10px;

    @include theme() {
      background-color: theme-get("primary");
      color: theme-get("white");
    }
  }

  button:hover {
    cursor: pointer;
    @include theme() {
      background-color: theme-get("primary-light");
    }
  }
}
