@import "../../../index.scss";

.user-info-container {
  margin-top: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  row-gap: 10px;

  @include phone {
    grid-template-columns: 1fr;
    row-gap: 16px;
  }

  @include theme() {
    color: theme-get("tertiary-dark-mode");
  }

  .user-info-icon-text-container {
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  .user-info-column {
    display: grid;
    grid-row-gap: 19px;

    @include desktop {
      grid-row-gap: 16px;
    }
  }
}
