@import "./index.scss";

#root {
  width: 730px;
  margin: auto;

  @media only screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 1) {
    width: auto;
    margin: 0 24px;
  }
}

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;

  @include theme() {
    background-color: theme-get("background");
  }
}

.app-title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;

  h1 {
    text-align: left;
  }

  h4 {
    text-align: right;
  }

  @include theme() {
    background-color: theme-get("background");
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    margin: 140px 98px 36px 98px;
    width: auto;
  }
}

.app-toggle-container {
  display: grid;
  grid-template-columns: 15fr 1fr;
  align-items: center;
  column-gap: 12px;

  img:hover {
    cursor: pointer;
    filter: invert(73%) sepia(11%) saturate(1218%) hue-rotate(186deg)
      brightness(89%) contrast(84%);
  }
}
