// theming
$themes: (
  dark: (
    "primary": #0079ff,
    "primary-light": #60abff,
    "secondary": #697c9a,
    "secondary-dark-mode": #ffffff,
    "tertiary": #4b6a9b,
    "tertiary-dark-mode": #ffffff,
    "background": #141d2f,
    "background-light": #1e2a47,
    "font-color": #ffffff,
    "box-shadow": unset,
    "white": #ffffff,
    "red": #f74646,
  ),
  light: (
    "primary": #0079ff,
    "primary-light": #60abff,
    "secondary": #697c9a,
    "secondary-dark-mode": #697c9a,
    "tertiary": #4b6a9b,
    "tertiary-dark-mode": #4b6a9b,
    "background": #f6f8ff,
    "background-light": #fefefe,
    "font-color": #222731,
    "box-shadow": 0px 16px 30px #4660bb33,
    "white": #ffffff,
    "red": #f74646,
  ),
);

$theme-map: null;

@mixin theme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme-get($key) {
  @return map-get($theme-map, $key);
}

// media queries

$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
  @media only screen and (max-device-width: #{$phone-width}) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-device-width: #{$tablet-width}) and (max-device-width: #{$desktop-width}) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (max-device-width: #{$desktop-width}) and (-webkit-min-device-pixel-ratio: 1) {
    @content;
  }
}

// fonts
h1 {
  font: bold 26px "Space Mono", monospace;
  line-height: 38px;

  @include theme() {
    color: theme-get("font-color");
  }

  @include phone {
    font-size: 16px;
  }
}

h2 {
  font: bold 22px "Space Mono", monospace;
  line-height: 33px;

  @include theme() {
    color: theme-get("font-color");
  }

  @include phone {
    font-size: 16px;
  }
}

h3 {
  font: 16px "Space Mono", monospace;
  line-height: 24px;

  @include theme() {
    color: theme-get("font-color");
  }

  @include phone {
    font-size: 13px;
  }
}

h4 {
  font: 13px "Space Mono", monospace;
  line-height: 20px;

  @include theme() {
    color: theme-get("font-color");
  }

  @include phone {
    font-size: 11px;
  }
}

.h4-bold {
  font: bold 13px "Space Mono", monospace;
  line-height: 20px;

  @include theme() {
    color: theme-get("font-color");
  }
}

p {
  font: 15px "Space Mono", monospace;
  line-height: 22px;

  @include phone {
    font-size: 13px;
    line-height: 20px;
  }
}

span {
  font: 15px "Space Mono", monospace;
  line-height: 22px;

  @include phone {
    font-size: 13px;
    line-height: 20px;
  }
}

button {
  font: bold 16px "Space Mono", monospace;
  line-height: 24px;

  @include phone {
    font-size: 13px;
    line-height: 20px;
  }
}

.primary {
  @include theme() {
    color: theme-get("primary");
  }
}

.tertiary {
  @include theme() {
    color: theme-get("tertiary");
  }
}

.tertiary-dark-mode {
  @include theme() {
    color: theme-get("tertiary-dark-mode");
  }
}

body {
  margin: 0px auto;
  text-align: center;
  font: 15px "Space Mono", monospace;
  line-height: 25px;
}
